html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}

svg {
  font: 10px sans-serif;
  float: left;
}

h5, #filmtitle, #filmyear, #filtertitle, #searchtitle{
  font-size: 10pt;
  font-family: Futura;
  font-weight: 600;
  text-transform: uppercase;
}

#genre {
  font-style: italic;
}

li {
  list-style: none;
  font-size: 8pt;
  margin-top: 7px;
}


button {
    color: black;
    /*border: 2px dashed #6EFECD;*/
    border: none;
    background-color: white;
    font-size: 8pt;
    /*padding: 10px;
    /*width: 100%;
    /*text-align: center;*/
    text-decoration: underline #6EFECD;
    display: inline-block;
    margin-left: -8px;
    font-style: italic;
    color: #313131;
}

p, .checkboxes{
  font-family: 'Merriweather', serif;
  font-size: 8pt;
  text-align: justify;
  line-height: 140%;
  color: #313131;
}

.checkboxes{
  margin-left: -15px;
}

input {
  font-style: italic;
  font-size: 8pt;
}

.filter{
  font-family: 'Merriweather', serif;
  text-align: justify;
  line-height: 140%;
  color: #313131;
}

.intro {
  width: 300px;
  padding-top: 20px;
}

.parallel, .filterrow {
  padding-top: 20px;
}

.parallel {
  margin-left: -10px;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

/* REMOVED STROKE COLOR FROM HERE */
.foreground path {
  fill: none;
  stroke-opacity: .5;
}

.filtercolumn {
  margin-left: 57px;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}